.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  margin-bottom: 20px;
  color: #f7dcb9;
}

.info {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #deac80;
}

.button {
  background-color: #a7835f;
  color: #f7dcb9;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #f7dcb9;
  height: 100vh;
}

.contribute {
  cursor: pointer;
}

.contribute :hover {
  color:#a7835f;
}
